.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 336px;
  background-color: #0E0E0E;
  color: #fff;
  border-radius: 6px;
  display: block;
  padding-right: 165px;
  padding-left: 165px;
}

hr {
  width: 1110px;
  height: 1px;
 margin-left: 240px;
  opacity: 0.2;
}

.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  margin-bottom: 36px;
  padding-top: 36px;
}

.header-h1 {
  display: flex;
  justify-content: center;
  margin-top: 98px;
}



.header__text-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.header__text-link {
  color: #ffffff;
  display: inline-flex;
  padding-right: 2px;
  justify-content: center;
  align-items: flex-start;
  gap: 34px;
}

.header__text-link:hover {
  color: #D87D4A;
}

.header__text-ul {
  display: flex;
  flex-direction: row;
  gap: 34px;
  margin-left: 240px;
  margin-right: 240px;
}

.header-main {
  display: flex;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin-top: 128px;
}

.header-text-p {
  color: #ffffff;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 24px;
}

.header-main-content {
  height: 560px;
  width: 1110px;
  width: 445px;
height: 343px;
top: 605px;
left: 830px;
}



.header-main-text {
scrollbar-3dlight-color: ;;
}

.header-main-image {
  hratfrt
}